<div id="test-el">
	<div id="test-board">
		<div id="test-grid-1" class="grid-space"></div>
		<div id="test-grid-2" class="grid-space"></div>
		<div id="test-grid-3" class="grid-space"></div>
		<div id="test-grid-4" class="grid-space"></div>
		<div id="test-grid-5" class="grid-space"></div>
		<div id="test-grid-6" class="grid-space"></div>
		<div id="test-grid-7" class="grid-space"></div>
		<div id="test-grid-8" class="grid-space"></div>
		<div id="test-grid-9" class="grid-space"></div>
	</div>
	<div id="clearer"></div>
	<div id="sel-cont">
		 <div id="player-first" class="selection">YOU FIRST</div>
		 <div id="comp-first" class="selection">COMP FIRST</div>
		 <div id="start">START ANEW</div>
	 </div>
</div>
<!--
<h1>StaticPages#home</h1>


<div class="click-test"></div>	
<%= link_to "new game", new_tic_tac_to_path %>


empty: <%= @empty %>
<br>

player_first: <%= @game.player_first %>
<br>
move: <%= @move %>
<br>
move_2: <%= @move_2 %>
-->
<div class="stats">
	board: 
	<div id="board-value"><%= @game.board %></div>
	<br>
</div>
<!--
<div id="js-board"></div>
<div id="board">
	<div id="grid-1" class="grid-space"></div>
	<div id="grid-2" class="grid-space"></div>
	<div id="grid-3" class="grid-space"></div>
	<div id="grid-4" class="grid-space"></div>
	<div id="grid-5" class="grid-space"></div>
	<div id="grid-6" class="grid-space"></div>
	<div id="grid-7" class="grid-space"></div>
	<div id="grid-8" class="grid-space"></div>
	<div id="grid-9" class="grid-space"></div>
</div>
-->