<h1>TicTacToes#show</h1>
<p>Find me in app/views/tic_tac_toes/show.html.erb</p>

<h1>StaticPages#home</h1>
<%= form_for(TicTacToe.new) do |f| %>
	<%= f.text_field :board %>
	<%= f.submit "New Game", class: "btn btn-primary" %>
<% end %>
board: 
<div id="board-value"><%= @game.board %></div>
<br>

player_first: <%= @game.player_first %>
turns_taken: <%= @game.turns_taken %>

<div id="js-board"></div>
<div id="board">
	<div id="grid-1" class="grid-space"></div>
	<div id="grid-2" class="grid-space"></div>
	<div id="grid-3" class="grid-space"></div>
	<div id="grid-4" class="grid-space"></div>
	<div id="grid-5" class="grid-space"></div>
	<div id="grid-6" class="grid-space"></div>
	<div id="grid-7" class="grid-space"></div>
	<div id="grid-8" class="grid-space"></div>
	<div id="grid-9" class="grid-space"></div>
</div>
